.dashboard {
    margin-top: 30px;
    padding: 20px;
    background: #f4f6f8;
    border-radius: 8px;
}

.dashboard .role-error {
    color: #b00020;
    font-weight: bold;
}

/*EXPANDIR DASHBOARD GLOBAL*/
@media (min-width: 1200px){
  .dashboard .container{
    max-width: 1600px !important;
    width: 100%;
  }
}
